In [55]:
import pandas as pd
import numpy
from sqlalchemy import create_engine

# Store CSV into DataFrame

In [56]:
csv_file = "Resources/Malaria_deaths_report_clean_up_csv.csv"
raw_malaria_df = pd.read_csv(csv_file)
raw_malaria_df.head(110)

,Countries,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Algeria,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Angola,"9,510","9,473","14,434","38,598","12,459","13,768","10,220","9,812","9,465","10,530","8,114","6,909","5,736","7,300","5,714","7,832","15,997","13,967","11,814"
2,Benin,0,0,0,0,0,0,"1,226","1,290",0,"1,375",0,"1,753","2,261","2,288","1,869","1,416","1,646","2,182","2,138"
3,Botswana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Burkina Faso,0,"4,233","4,032","4,860","4,205","5,224","8,083","6,472","7,834","7,982","9,024","7,001","7,963","6,294","5,632","5,379","3,974","4,144","4,294"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,Philippines,536,439,71,162,167,145,124,73,56,24,30,12,16,12,10,20,7,3,1
101,Republic of Korea,0,0,0,0,0,0,0,1,0,1,1,2,0,0,0,0,0,0,0
102,Solomon Islands,38,55,61,71,51,38,12,15,21,53,34,19,18,18,23,13,20,27,7
103,Vanuatu,3,4,13,14,3,5,1,5,4,2,1,1,0,0,0,0,0,0,0
104,Viet Nam,142,91,50,50,34,18,41,20,25,26,21,14,8,6,6,3,2,5,1

In [60]:
## dir(raw_malaria_df)
raw_malaria_df.dtypes
# raw_malaria_df.mean(axis=1)

Countries    object
2000         object
2001         object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
dtype: object

In [74]:
# raw_malaria_df1 = raw_malaria_df[raw_malaria_df.isna().any(axis=1)]
raw_malaria_df.isnull()
raw_malaria_df.fillna(0)

raw_malaria_df['2000']=raw_malaria_df['2000'].str.replace(',', '')
   
    
# df.to_csv(file_name, sep='\t', encoding='utf-8')
raw_malaria_df.to_csv("malaria_output", sep='\t', encoding='utf-8')